/* Resetando estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Bangers', cursive;
    background-color: #f2f2f2;
    color: white;
    position: relative;
    margin: 0;
    padding-top: 60px;
}

/* Cabeçalho */
header {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin-top: 5px;
    font-size: 1em;
}

/* Menu de navegação */
nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
    z-index: 1;
    position: relative;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Barra de Pesquisa */
.search-section {
    text-align: center;
    padding: 20px 0;
}

#search-bar {
    padding: 10px;
    font-size: 1.1em;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #7c6fc7;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Leitor de Mangá */
.manga-viewer {
    text-align: center;
    padding: 20px;
}

.manga-viewer img {
    max-width: 80%;
    height: auto;
}

.navigation {
    margin-top: 20px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Animação para transição de página */
@keyframes slide {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    animation: slide 1s ease-in-out;
}

/* Responsividade - Ajustes para telas pequenas */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
        padding-top: 50px; /* Ajusta a posição do conteúdo em telas menores */
    }

    nav ul {
        padding: 0;
        text-align: left;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .manga-viewer img {
        max-width: 100%; /* Ajusta a largura da imagem do mangá */
    }

    footer {
        position: relative;
        padding: 20px;
    }

    #search-bar {
        width: 90%; /* Aumenta a largura da barra de pesquisa em telas pequenas */
    }

    button {
        padding: 15px 30px; /* Aumenta o tamanho do botão em telas menores */
    }
}
