/* Resetando estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin-top: 5px;
    font-size: 1em;
}

/* Menu de navegação */
nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Barra de Pesquisa */
.search-section {
    text-align: center;
    padding: 20px 0;
}

#search-bar {
    padding: 10px;
    font-size: 1.1em;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Leitor de Mangá */
.manga-viewer {
    text-align: center;
    padding: 20px;
}

.manga-viewer img {
    max-width: 80%;
    height: auto;
}

.navigation {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

body {
  background-color: #f2f2f2; /* cor de fundo suave */
  color: #333; /* cor do texto */
}

header {
  background-color: #ff69b4; /* rosa vibrante */
}

button {
  background-color: #7c6fc7; /* roxo pastel */
  color: white;
}
